<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/engin/IdeaProjects/Summer2019VATestNGSeleniumProject2/src/test/java/com/cybertek/tests/tryout/DDT3.java">
        <classes>
            <class name="com.cybertek.tests.tryout.DDT3">
                <methods>
                    <include name="test1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>